# Файлы окружения и секреты
.env
*.env
config.py

# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Базы данных и пользовательские данные
*.json
*.db
*.sqlite
db/  # Если используете локальную БД

# Конфиденциальные данные

secrets.py

# Базы данных и файлы с пользовательскими данными
*.json
/db/

# Токены и ключи
*.key
*.pem
*.crt

# Файлы IDE и ОС
*.swp
*.swo
.DS_Store

# Виртуальное окружение
env/
ENV/

# Логи и кэш
*.log
*.cache
*.pid

# Питоновские артефакты
*.pyo
*.pyd