# Файлы окружения и секреты
.env
*.env
config.py

# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Базы данных и пользовательские данные
*.db
*.sqlite
db/  # Если используете локальную БД